.disabled{
     display: none;
}
.inactive{
    pointer-events: none;
    opacity: 0;
}
.error{
    color: red;
}
.success{
    color: green;
}
table,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
}